<% title "Home" %>
<h1 class="site-title">Slick<span>.gifts</span></h1>
<p class="tagline">Surprise! It's what you wanted.</p>
<div class="text-center">
  <%= link_to "Continue with Facebook", user_facebook_omniauth_authorize_path, 
        class: "btn btn-default btn-lg" %>
</div>