<h1 class="site-title">Slick<span>.gifts</span></h1>
<p class="tagline">Surprise! It's what you wanted.</p>
<div class="text-center">
  <% if Rails.env.development? %>
    <%= link_to "Continue as Developer", omniauth_authorize_path(User, "developer"), 
        class: "btn btn-default btn-lg" %>
  <% else %>
    <%= link_to "Continue with Facebook", user_facebook_omniauth_authorize_path, 
        id: "facebook-login", class: "btn btn-default btn-lg" %>
  <% end %>
</div>