<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <%= image_tag "slick_gifts_logo_1.png",  
        alt: 'Slick.gifts Logo', 
        id: 'home-page-logo', 
        class: 'img-responsive' %>
    <p class="tagline">Surprise!<br>It's what you wanted.</p>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-body">
          Make a list of the things you want, your interests, and style.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          View your friends lists and what others have already bought them.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          Never get a bad gift again.<br>#NoBadGifts
        </div>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <% if Rails.env.development? %>
    <%= link_to icon("facebook", "Continue as Developer"), 
        omniauth_authorize_path(User, "developer"), 
        class: "btn btn-default btn-facebook btn-lg" %>
  <% else %>
    <%#= link_to icon("facebook", "Continue with Facebook"), 
        user_facebook_omniauth_authorize_path, 
        id: "facebook-login", 
        class: "btn btn-default btn-facebook btn-lg" %>
  <% end %>
</div>