<% full_display ||= false %>
<div class="panel panel-default user-panel">
  <% if full_display %>
    <%= render "users/user_full", user: user %>
  <% else %>
    <%= render "users/user_link", user: user %>
</div>