<div class="panel-body">
  <%= image_tag(user.image, class: "img-large") %>
  <% if user == current_user %>
    <span class="pull-right">
      <%= link_to icon("cog"), settings_path, class: "settings-icon" %>
    </span>
  <% end %>
  <span class="name"><%= user.name %></span>
</div>