<%= link_to user_path(user) do %>
<div class="panel-body">
  <%= image_tag(user.image, class: "img-small") %>
  <div class="user-info">
    <p class="name"><%= user.name %></p>
    <small><%= user_bio(user) %></small>
  </div>
</div>
<% end %>