<% link_to_profile ||= true %>
<% current ||= false %>
<div class="panel panel-default user-panel">
  <%= link_to_if(link_to_profile, user_path(user)) do %>
  <div class="panel-body">
    <%= image_tag(user.image) %>
    <span class="name"><%= user.name %></span>
  </div>
  <% end %>
</div>