<div class="panel panel-default panel-collapse">
  <div class="panel-heading selectable" data-toggle="collapse" data-target="#actions-collapse">
    <%= icon "gift" %>
    <div class="user-info">
      <p class="name">Actions</p>
      <small>There are gifts you need to take action on</small>
    </div>
  </div>
  <div id="actions-collapse" class="collapse panel-body">
    <div id="actions-container">
      <%= render @actionable_gifts, full_display: true %>
      <%= render @actionable_purchases, full_display: true %>
    </div>
  </div>
</div>
