<div class="panel panel-default panel-collapse">
  <div class="panel-heading selectable" data-toggle="collapse" data-target="#actions-collapse">
    <div class="gift-img">
      <%= icon "gift" %>
    </div>
    <div class="actions-info">
      <p>There are X gifts you can take action on</p>
      <small>Some helper text</small>
    </div>
  </div>
  <div id="actions-collapse" class="collapse panel-body">
    <div id="actions-container">
      <%= render @actionable_gifts, full_display: true %>
      <%= render @actionable_purchases, full_display: true %>
    </div>
  </div>
</div>
