<div class="panel panel-default">
  <div class="panel-heading">
    <p data-toggle="collapse" data-target="#actions-collapse">Actions</p>
  </div>
  <div id="actions-collapse" class="panel-body">
    <div id="actions-container">
      <div>
        <%= render @actionable_gifts, full_display: true %>
      </div>
      <div>
        <%= render @actionable_purchases, full_display: true %>
      </div>
    </div>
  </div>
</div>
