<% if @view_access == "restricted" %>
<p class="text-center">
  You must be friends with <%= @user.name %> to view their gifted list
</p>
<% else %>
<%= render @gifted, full_display: true %>
<% end %>