<% if @view_access == "restricted" %>
  <% if user_signed_in? %>
    <div class="alert alert-notice">
       <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
       Add <%= @user.name %> on facebook to view their gifted list. #NoBadGifts
    </div>
  <% else %>
    <div class="alert alert-notice">
       <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
       Log in with facebook to view <%= @user.name %>'s gifted list. #NoBadGifts
    </div>
  <% end %>
<% else %>
<%= render @gifted, full_display: true %>
<% end %>