<% if @facebook_error.present? %>
  <p class="text-center">
    There appears to be an issue with your facebook permissions! You will have 
    to log out and log in to reinstate permissions.
  </p>
  <p class="text-center small alert-red">
    If that doesn't work, we suggest removing the Slick.gifts app permissions 
    in your Facebook settings and trying again.
  </p>
  <p class="text-center">
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
  </p>
<% end %>
<div id="actions-container">
  <div>
    <%= render @actionable_gifts, full_display: true %>
  </div>
  <div>
    <%= render @actionable_purchases, full_display: true %>
  </div>
</div>
<div id="friends-container" class="panel-group">
  <%= render @friends if @friends %>
</div>