<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Purchases</h4>
    </div>
    <div class="modal-body">
      <%= render @purchases %>
    </div>
  </div>
</div>