<%= form_for [want, purchase], remote: true do |f| %>
  <div class="form-group">
  <%= f.text_area :comment, placeholder: 'Comment', 
        class: 'form-control' %>
  </div>
  <%= f.submit 'Purchase', 
      class: 'btn btn-success', 
      data: {disable_with: 'Purchasing'} %>
<% end %>