<p>
  <%= name %> purchased this 
  <%= local_relative_time(purchase.created_at, type: 'weekday-or-date') %>
  <%= "for #{recipient.name}" if recipient %>
</p>
<% if purchase.comment.present? %>
<blockquote>
  <p>
    <%= purchase.comment %>
  </p>
</blockquote>
<% end %>