<% display ||= :compact %>
<div id="purchase-<%= purchase.id %>" class="panel panel-default">
  <div class="panel-body">
    <%= render "purchases/purchase_#{purchase.status}", display: display %>
  </div>
</div>