<% full_display ||= false %>
<div id="purchase-<%= purchase.id %>" class="panel panel-default panel-purchase">
  <div class="panel-body">
    <% if purchase.want.present? %>
      <%= render "purchases/purchase_#{purchase.status}", 
          purchase: purchase,
          full_display: full_display %>
    <% else %>
      <p>Uh oh, it looks like one of your gift has somehow lost its linked 
      item. The item was probably deleted.</p>
      <p>This purchase was made by you on <%= local_time(purchase.created_at) %></p> 
      <% if purchase.comment.present? %>
      <blockquote>
        <p>
          <%= purchase.comment %>
        </p>
      </blockquote>
      <% else %>
        <p>You did not make any comments about the purchase.</p>
      <% end %>
    <% end %>
  </div>
</div>