<% submit_button = icon('check', 'Update') %>
<% submitting = "Updating" %>
<%= render 'interests/form', interest: interest, 
      submit_button: submit_button, submitting: submitting %>
<div id="delete-want" class="absolute">
  <button id="delete-interest" class="btn-link white">
    <%= icon("trash") %>
  </button>
  <span id="delete-confirm" class="start-hidden">
    Permanently remove. Are you sure? 
    <%= link_to 'Yes', 
        interest_path(interest),
        method: :delete, remote: true %>
  </span>
</div>