<div class="modal fade" id="new-style-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="absolute">
            <%= icon("tags") %>
          </span>
          <span class="offset-small">
            Style
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <%= render 'styles/form', style: @style %>
      </div>
    </div>
  </div>
</div>