<% submit_button = icon('check', 'Update') %>
<% submitting = "Updating" %>
<%= render 'styles/form', style: style, 
      submit_button: submit_button, submitting: submitting %>
<div id="delete-want" class="absolute">
  <button id="delete-style" class="btn-link white">
    <%= icon("trash") %>
  </button>
  <span id="delete-confirm" class="start-hidden">
    Permanently remove. Are you sure? 
    <%= link_to 'Yes', 
        style_path(style),
        method: :delete, remote: true %>
  </span>
</div>