<% submit_button = icon('check', 'Update') %>
<% submitting = "Updating" %>
<%= render 'items/form', item: item, 
      submit_button: submit_button, submitting: submitting %>
<div id="delete-want" class="absolute">
  <button id="delete-item" class="btn-link white">
    <%= icon("trash") %>
  </button>
  <span id="delete-confirm" class="start-hidden">
    Permanently remove. Are you sure? 
    <%= link_to 'Yes', 
        item_path(item),
        method: :delete, remote: true %>
  </span>
</div>
