<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <span class="pull-right">
        <button id="edit-item" class="btn btn-link">
          <%= icon("pencil-square-o") %>
          </button>
      </span>
      <h4 class="modal-title"><%= icon("barcode") %> Item</h4>
    </div>
    <div class="modal-body">
      <div id="show-want-section">
        <%= render 'items/item_modal_fill_show', item: item %>
      </div>
      <div id="edit-want-section" class="start-hidden">
        <%= render 'items/item_modal_fill_edit', item: item %>
      </div>
    </div>
  </div>
</div>