<div class="modal fade" id="new-item-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="absolute">
            <%= icon("barcode") %>
          </span>
          <span class="offset-small">
            Item
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <%= render 'items/form', item: @item %>
      </div>
    </div>
  </div>
</div>