html,body {
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: $light-gray;
}

body {
  @media (max-width: $screen-xs-min) {
    font-size: 10px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 11px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    font-size: 12px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 14px;
  }
  padding-top: 56px;
}

.tagline {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: $dark-gray;
}

#site-container {
  padding-top: 15px;
}

img#home-page-logo {
  margin: 2em 0;
}
.btn-facebook {
  margin: 2em 0;
  color: white;
  background-color: #3b5998;
  &:hover, &:focus {
    color: white;
    background-color: #3b5998;
    opacity: 0.8;
  }
}

// Prevent navbar collapse
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
  margin: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.navbar-right {
  float: right!important;
}

// Navbar css
.navbar {
  height: 56px;
  .fa {
    font-size: 26px;
  }
  img {
    height: 26px;
    border-radius: 4px;
    padding: 1px;
  }
}
.navbar-slick {
  background-color: $slick-blue;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border: none;
  .navbar-nav > li > a {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: inherit;
    transition: opacity 0.3s ease;
    &:hover, &:focus, &:active {
      color: white;
      background: none;
      opacity: 0.6;
    }
  }
}
.panel {
  border-radius: 0;
}
.panel-group {
  .panel {
    border-radius: 0;
  }
}
.panel-default {
  color: $dark-gray;
  border: none;
  font-weight: 300;
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.panel-absolute {
  position: absolute;
}
.offset-small {
  display: inline-block;
  margin-left: 1.5em;
}

.panel-group.panel-front {
  margin: 3em 0;
  .panel-default {
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  .panel-facebook {
    text-align: center;
    font-weight: 400;
    background: $facebook-blue;
    a {
      color: white;
      text-decoration: inherit;
      small {
        font-size: 80%;
        font-weight: 300;
        color: $light-gray;
      }
    }
  }
}