html,body {
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: $light-gray;
}

body {
  @media (max-width: $screen-xs-min) {
    font-size: 14px;
  }
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    font-size: 14px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    font-size: 16px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 18px;
  }
  padding-top: 56px;
}

.tagline {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: $dark-gray;
}

#site-container {
  padding-top: 15px;
}

img#home-page-logo {
  padding: 2em;
}
.btn-facebook {
  margin: 2em 0;
  color: white;
  background-color: #3b5998;
  &:hover, &:focus {
    color: white;
    background-color: #3b5998;
    opacity: 0.8;
  }
}

// Prevent navbar collapse
.navbar-collapse.collapse {
  display: block!important;
}
.navbar-nav>li, .navbar-nav {
  float: left !important;
  margin: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -10px !important;
}
.navbar-right {
  float: right!important;
}

// Navbar css
.navbar {
  height: 56px;
  .fa {
    font-size: 36px;
  }
  img {
    object-fit: cover;
    height: 36px;
    width: 36px;
    border-radius: 4px;
  }
}
.navbar-slick {
  background-color: $slick-blue;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  border: none;
  .navbar-nav > li > a {
    color: white;
    padding: 10px;
    line-height: inherit;
    transition: opacity 0.3s ease;
    &:hover, &:focus, &:active {
      color: white;
      background: none;
      opacity: 0.6;
    }
  }
}
.panel {
  border-radius: 0;
  a {
    text-decoration: inherit;
    color: inherit;
  }
}
.panel-group {
  .panel {
    border-radius: 0;
  }
}
.panel-default {
  color: $dark-gray;
  border: none;
  font-weight: 300;
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.absolute {
  position: absolute;
}
.offset-small {
  padding-left: 2em;
  width: 100%;
}

.panel-group.panel-front {
  margin: 3em 0;
  .panel-default {
    margin-bottom: 1em;
  }
  .panel-facebook {
    text-align: center;
    font-weight: 400;
    background: $facebook-blue;
    a {
      color: white;
      text-decoration: inherit;
      small {
        font-size: 80%;
        font-weight: 300;
        color: $light-gray;
      }
    }
  }
}

.settings-icon {
  font-size: 1.2em;
  line-height: 1.2em;
}

#delete-confirm {
  font-size: 0.6em;
  color: white;
  a {
    color: white;
    text-decoration: inherit;
    margin-left: 15px;
    font-weight: 400;
    &:hover, &:active, &:focus {
      color: white;
      text-decoration: inherit;
    }
  }
}

#delete-want {
  bottom: -55px;
  left: 0px;
  padding: 15px;
  font-weight: 300;
  font-size: 1.2em;
}

.start-hidden {
  display: none;
}

// Create bottom margin for bootstrap rows
.row.margin-bottom {
  margin: 0 0 20px 0;
}

// Adjust modal position so any flash is visible
.modal-dialog {
  margin-top: 71px;
}

#show-modal {
  h2 {
    margin: 0 0 1em 0;
    font-weight: 300;
    font-size: 1.5em;
  }
  blockquote {
    font-weight: 400;
    font-size: 0.8em;
  }
}

button, .btn {
  border-radius: 0;
  &:focus, &:hover, &:active {
    outline: none !important;
  }
}

.btn-link {
  font-weight: 300;
  font-size: 1em;
  &.red {
    color: $slick-red;
    text-decoration: inherit;
    &:hover, &:active, &:focus {
      color: $slick-red;
      text-decoration: inherit;
    }
  }
  &.blue {
    color: $slick-blue;
    text-decoration: inherit;
    &:hover, &:active, &:focus {
      color: $slick-blue;
      text-decoration: inherit;
    }
  }
  &.gray {
    color: $dark-gray;
    text-decoration: inherit;
    &:hover, &:active, &:focus {
      color: $dark-gray;
      text-decoration: inherit;
    }
  }
}

.new-wants {
  .btn {
    &:hover {
      background: white;
    } 
  }
  .fa {
    margin-right: 5px;
  }
}

#want-details-section {
  padding: 15px;
}

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

// No radius on modals
.modal-content {
  border-radius: 0;
}

label {
  font-weight: 300;
}

.has-error .form-control {
  border-color: $slick-red;
}
.error-message {
  color: $slick-red;
  font-size: 0.7em;
  float: right;
}

// Input placeholder
input::-webkit-input-placeholder {
color: $gray !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: $gray !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: $gray !important;  
}
 
input:-ms-input-placeholder {  
color: $gray !important;  
}

textarea::-webkit-input-placeholder {
color: $gray !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: $gray !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: $gray !important;  
}
 
textarea:-ms-input-placeholder {  
color: $gray !important;  
}

ul.want-details-list {
  padding: 0;
  li {
    list-style-type: none;
    font-weight: 300;
    .fa {
      position: absolute;
      left: 30px;
      line-height: inherit;
      width: 20px;
      text-align: center;
    }
  }
}
.purchase-helper {
  font-weight: 300;
  padding: 15px;
}

.panel-purchase {
  .panel-want {
    margin: -15px -15px 0 -15px;
    box-shadow: none;
  }
}

#confirm-modal {
  color: $dark-gray;
  .modal-body {
    font-weight: 300;
  }
}

.alert-red {
  color: $slick-red;
}
.alert-blue {
  color: $slick-blue;
}

.fa.gifted, .fa.received {
  margin: 1px;
}
#user-received-icons, #user-gifted-icons {
  a {
    text-decoration: inherit;
    color: inherit;
    &:hover, &:focus, &:active {
      text-decoration: inherit;
      color: inherit;
    }
  }
}
.gifted {
  &.value-1 {
    color: #94E658;
  }
  &.value-10 {
    color: #13D8C7;
  }
  &.value-100 {
    color: #0AB0E2;
  }
  &.value-1000 {
    color: #7459DA;
  }
}
.received {
  &.value-1 {
    color: #F271B8;
  }
  &.value-10 {
    color: #FF5B63;
  }
  &.value-100 {
    color: #FF934C;
  }
  &.value-1000 {
    color: #FFD936;
  }
}

.modal-loader {
  text-align:center;
  .fa {
    color: white;
    margin-top: 112px;
  }
}