#flash-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  .alert {
    cursor: pointer;
    color: $light-gray;
    display: none;
    font-weight: 300;
    text-align: center;
    border-radius: 0;
    border: 0;
    min-height: 56px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  }
}

.alert-notice {
  background-color: $slick-green;
  color: white;
  font-weight: 300;
}
.alert-facebook {
  background-color: $facebook-blue;
  color: white;
  font-weight: 300;
}
.alert-warning {
  background-color: $slick-red;
  color: white;
  font-weight: 300;
}