#flash-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  .alert {
    cursor: pointer;
    display: none;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  }
}

.alert-notice {
  color: white;
  background-color: $slick-dark-blue;
  a.close {
    color: white;
    opacity: 1;
  }
}