.user-panel {
  img {
    object-fit: cover;
    border-radius: 4px;
    vertical-align: top;
    &.img-small {
      height: 45px;
      width: 45px;
    }
    &.img-large {
      height: 120px;
      width: 120px;
    }
  }
  p.name {
    margin: 0 1em;
    font-weight: 400;
    font-size: 1.1em;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
}