.user-panel {
  &.selectable {
    transition: opacity 0.3s ease;
    &:hover, &:focus, &:active {
      opacity: 0.6;
    }
  }
  img {
    object-fit: cover;
    border-radius: 4px;
    vertical-align: top;
    &.img-small {
      height: 45px;
      width: 45px;
      float: left;
      margin-right: 1em;
    }
    &.img-large {
      height: 120px;
      width: 120px;
      float: left;
      margin-right: 1em;
    }
  }
  p.name {
    margin: 0;
    font-weight: 400;
    font-size: 1.1em;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
}