.user-panel {
  img {
    object-fit: cover;
    height: 3em;
    width: 3em;
    border-radius: 0.5em;
    vertical-align: top;
  }
  span.name {
    margin: 0 1em;
    font-size: 1.5em;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
}