<div  class="modal fade" 
      id="loading-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
  <div class="modal-loader">
    <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
  </div>
</div>