<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <% if user_signed_in? %>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to icon('home'), root_path %></li>
        <li><%= link_to image_tag(current_user.image), current_user %></li>
      </ul>
    </div>
    <% else %>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to icon('facebook', 'Join'), 
              user_facebook_omniauth_authorize_path,
              class: "btn btn-default btn-facebook" %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>